<launch>
  <!-- <group ns="tb3_0"> -->
    <!-- <param name="robot_name" type="str" value="tb3_0" /> -->
    <group ns="tb3_1">
      <param name="robot_name" type="str" value="tb3_1" />
      <node name="drawasquare" pkg="driving_turtlebots" type="square.py" output="screen"/>
    </group>

</launch>
