<launch>
  <!-- <group ns="tb3_0"> -->
    <!-- <param name="robot_name" type="str" value="tb3_0" /> -->
    <group ns="tb3_0">
      <param name="robot_name" type="str" value="tb3_0" />
      <node name="drawazigzag" pkg="driving_turtlebots" type="zigzag.py" output="screen"/>
    </group>

</launch>
