<launch>
  <!-- <group ns="tb3_0"> -->
    <param name="robot_name" type="str" value="tb3_1" />
    <group ns="tb3_1">
      <!-- <param name="robot_name" type="str" value="tb3_1" /> -->
      <node name="drawazigzag" pkg="driving_turtlebots" type="zigzag.py" output="screen"/>
    </group>

</launch>
